body {
    width: 100% ;
    background: black;
    justify-content: center;
    align-content: center;
  }
  
  #logo {
    width: 200px;
    margin: 50px;
    border-radius: 50%;
  }

  .header {
    overflow: hidden;
    background-color:black;
    padding: 20px 10px;
    font-size:large;
  }

  .container {
    padding-top: 50px;
    width: 700px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  
  .main-element {
    position: absolute;
    top: 1%;
    left: 1%;
    display: block;
    height: 98%;
    width: 98%;
    margin: auto;
    align-self: center;
    background: rgb(31, 26, 26);
    z-index: 1;
  }

  .border {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: -9;
    display: block;
    height: 200%;
    width: 200%;
    transform: rotate(-45deg);
    overflow: hidden;
    background: linear-gradient(to right, rgb(19, 46, 25) 20%, rgb(43, 228, 104) 40%, #130f06 50%, #097040 55%, rgb(34, 24, 24) 70%, rgb(16, 145, 65) 100%);
    background-size: 200% auto;
    
    animation: shine 3s linear infinite;
  }
  
  /*Begin shimmer code*/
  
  @keyframes shine {
      to {
        background-position: 200% center;
      }
    }

/* Image Source for Logo https://unsplash.com/photos/JlO3-oY5ZlQ */
